@import 'colors';

.page {
  font-family: sans-serif;
  line-height: 130%;
}

.header {
  .navbar{
    height:40px;
    display: flex;
    justify-content: space-between;
    background-color: $dark-blue;
    padding: 4px 10px;
    form {
      display:flex;
      align-items: flex-start;
    }
    input {
      width:120px;
      @media (min-width: 375px) {
        width:200px;
      }
      @media (min-width: 768px) {
        width:400px;
      }
      font-size: 20px;
      background-color: $white;
      border:none;
      padding:5px 10px;
      border-radius: 3px;
      height:30px;
      margin: 0 4px 0 0;
    }
    button {
      background-color: $orange;
      border:none;
      border-radius: 3px;
      padding:5px;
      height:40px;
      width:40px;
      font-size:25px;
    }
    button:hover {
      background-color: lighten($orange, 20%);
      cursor:pointer;
    }
  }
}
